---
layout: archive
title: "Projects"
permalink: /portfolio/
author_profile: true
---

{% include base_path %}


{% for post in site.portfolio %}
  {% include archive-single.html %}
{% endfor %}

<ul>
  <li> Data analytics in PhD project: <b> Cognitive function of hippocampal dentate gyrus during goal-guided spatial behavior</b>
    <br>
    <span style="font-size: 14px">
    <i>2022 - in progress. </i>
    Supervisors: Veronica Piatti, Alejandro Schinder
    <br>
    </span>
    </li>

    <li> <b> Patch Clamp Analysis Automation </b>
      <br>
      <span style="font-size: 14px">
      <i>Data analytics (2022).</i>
      Collaboration with Mariela Trinchero and Alejandro Schinder
      <br>
      </span>
      </li>

      <li> <b> Object Video Annotation </b>
        <br>
        <span style="font-size: 14px">
        <i>2024</i>
        Simple GUI for making video annotations of object recognition experiments. 
        <a href="https://github.com/sabrinabenas/Object-Video-Annotation">(More info)</a>
        <br>
        </span>
        </li>

</ul>


<h1>Postgraduate Courses</h1>

<ul>
  <li>
    <b>  Attractors and Memory Algorithms</b>
    Buenos Aires University, Physics Department, 2024.
  </li>
  <li>
    <b>  Statistical Methods in Experimental Physics</b>
    Buenos Aires University, Physics Department, 2023.
  </li>

  <li>
    <b>  Music and Physics </b>
    Buenos Aires University, Physics Department, 2023.
  </li>
  <li>
    <b> ISN School on Miniaturized Fluorescence Microscopy</b>
    Buenos Aires, Fundacion Instituto Leloir, 2022.
  </li>

  <li>
    <b> Advanced Data Analysis</b>
    Buenos Aires University, Physics Department, 2022.
  </li>

  <li>
    <b> Course of Optical and Fluorescence Microscopy</b>
    Buenos Aires University, 2021.
  </li>

</ul>