---
layout: archive
title: "Posters and Talks"
permalink: /talks/
author_profile: true
---

{% if site.talkmap_link == true %}
{% endif %}

{% for post in site.talks reversed %}
  {% include archive-single-talk.html %}
{% endfor %}


<ul>
<li> <b>Calcium imaging in CA3 in object recognition task</b>
  <br>
  <span style="font-size: 14px">
  <span style = "color: grey">Annual Meeting of Argentine Society of Neuroscience (SAN),october 2023.</span>
  <i>Poster</i>, San Luis, Argentina.
  Authors: <b>Sabrina Benas</b>, E. Kropff
  <br>
  </span>
  </li>


  <li> <b>Construction of a closed-loop system for the control of speed and acceleration in rodents. </b>
    <br>
    <span style="font-size: 14px">
    <span style = "color: grey">Annual Meeting Asociación de Física Argentina (AFA), september 2023.</span>
    <i>Poster</i>, San Luis, Argentina.
    Authors: C. Mastronardi, A. Zurdo, <b>Sabrina Benas</b>, E. Kropff.
    <br>
    </span>
    </li>

  <li> <b>Global remapping in the hippocampus of mice</b>
    <br>
    <span style="font-size: 14px">
    <span style = "color: grey">November, 2023.</span>
    <i>Talk, School on Collective Animal Behavior, ICTP.</i> Havana, Cuba.
    <br>
    </span>
    </li>

 
    <li> <b>Learning alternate paths to the same goal is enhanced by dentate gyrus processing</b>
    <br>
    <span style="font-size: 14px">
    <span style = "color: grey">Annual Meeting of Argentine Society of Neuroscience (SAN), october 2022.</span>
    <i>Poster</i>, Buenos Aires, Argentina. Authors: N. Soldi,<b>Sabrina Benas</b>, E. Kropff, A. Schinder, V. Piatti.
    <br>
    </span>
    </li>
    </ul>
    
    