---
layout: archive
title: "Posters and Talks"
permalink: /talks/
author_profile: true
---

{% if site.talkmap_link == true %}

<p style="text-decoration:underline;"><a href="/talkmap.html">See a map of all the places I've given a talk!</a></p>

{% endif %}

{% for post in site.talks reversed %}
  {% include archive-single-talk.html %}
{% endfor %}

<ul>
  
<p style="text-decoration:underline;"><a href="/talkmap.html">See a map of all the places I've given a talk!</a></p>
<ul>
<li> <b>Calcium imaging in CA3 in object recognition task</b>
  <br>
  <span style="font-size: 14px">
  <span style = "color: grey">Annual Meeting of Argentine Society of Neuroscience (SAN),october 2023.</span>
  <i>Poster</i>, San Luis, Argentina.
  <i>Authors: Sabrina Benas, E. Kropff</i>
  <br>
  </span>
  </li>
  </ul>


  <li> <b>Construction of a closed-loop system for the control of speed and acceleration in rodents. </b>
    <br>
    <span style="font-size: 14px">
    <span style = "color: grey">Annual Meeting Asociación de Física Argentina (AFA), september 2023.</span>
    <i>Poster</i>, San Luis, Argentina.
    <i>Authors: C. Mastronardi, A. Zurdo, Sabrina Benas, E. Kropff.</i>
    <br>
    </span>
    </li>
    </ul>

  <li> <b>Global remapping in the hippocampus of mice</b>
    <br>
    <span style="font-size: 14px">
    <span style = "color: grey">November, 2023.</span>
    <i>Talk, School on Collective Animal Behavior, ICTP.</i> Havana, Cuba.
    <br>
    </span>
    </li>
    </ul>

 
    <li> <b>Learning alternate paths to the same goal is enhanced by dentate gyrus processing</b>
    <br>
    <span style="font-size: 14px">
    <span style = "color: grey">Annual Meeting of Argentine Society of Neuroscience (SAN), october 2022.</span>
    <i>Poster</i>, Buenos Aires, Argentina.
    Authors: N. Soldi, Sabrina Benas, E. Kropff, A. Schinder, V. Piatti.
    <br>
    </span>
    </li>
    </ul>---
layout: archive
title: "Posters and Talks"
permalink: /talks/
author_profile: true
---

{% if site.talkmap_link == true %}

<p style="text-decoration:underline;"><a href="/talkmap.html">See a map of all the places I've given a talk!</a></p>

<li> <b>Calcium imaging in CA3 in object recognition task</b>
  <br>
  <span style="font-size: 14px">
  <span style = "color: grey">Annual Meeting of Argentine Society of Neuroscience (SAN),october 2023.</span>
  <i>Poster</i>, San Luis, Argentina.
  <i>Authors: Sabrina Benas, E. Kropff</i>
  <br>
  </span>
  </li>


  <li> <b>Construction of a closed-loop system for the control of speed and acceleration in rodents. </b>
    <br>
    <span style="font-size: 14px">
    <span style = "color: grey">Annual Meeting Asociación de Física Argentina (AFA), september 2023.</span>
    <i>Poster</i>, San Luis, Argentina.
    <i>Authors: C. Mastronardi, A. Zurdo, Sabrina Benas, E. Kropff.</i>
    <br>
    </span>
    </li>

  <li> <b>Global remapping in the hippocampus of mice</b>
    <br>
    <span style="font-size: 14px">
    <span style = "color: grey">November, 2023.</span>
    <i>Talk, School on Collective Animal Behavior, ICTP.</i> Havana, Cuba.
    <br>
    </span>
    </li>

 
    <li> <b>Learning alternate paths to the same goal is enhanced by dentate gyrus processing</b>
    <br>
    <span style="font-size: 14px">
    <span style = "color: grey">Annual Meeting of Argentine Society of Neuroscience (SAN), october 2022.</span>
    <i>Poster</i>, Buenos Aires, Argentina.
    Authors: N. Soldi, Sabrina Benas, E. Kropff, A. Schinder, V. Piatti.
    <br>
    </span>
    </li>
