---
layout: archive
title: "Teaching Experience"
permalink: /teaching/
author_profile: true
---

{% include base_path %}

{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %}

<li> <b>Teaching assistant at Modern Approaches to Behavioural Analysis</b>
  <br>
  <span style="font-size: 14px">
  <span style = "color: grey">2022-2023.</span>
  <i>Course, CAJAL - Advanced Neuroscience Training Programme</i>, Buenos Aires Hub, Argentina.
  <br>
  <a href="https://alexemg.github.io/DLC-Cajal-Course/README.html">(More info)</a>
  </span>
  </li>
  </ul>

<li> <b>Teacher assistant</b>
  <br>
  <span style="font-size: 14px">
  <span style = "color: grey">2022-2023-2024.</span>
  <i>Course</i>, Buenos Aires Hub, Argentina.
  <br>
  </span>
  </li>
  </ul>